.footer-content {
    line-height: 28px;
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: rgba(35, 31, 32, 1);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    max-width: 1335px;
}

.container div {
    display: flex;
    color: rgba(123, 121, 121, 1);
    justify-content: space-between;
}