.review p {
    color: rgb(79, 79, 79);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
    min-height: 80px;
}

.review span img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}